{% extends "base.html" %}
{% load static i18n %}
{% block header %}
    {% include "login_header.html" %}
{% endblock %}

{% block page_title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <form class="container" action="" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
        <div class="row">
          <div class="input-field col s12 m6">
              {{ form.username }}
              <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
              {{ form.username.errors }}
          </div>
          <div class="input-field col s12 m6">
              {{ form.password }}
              <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
              {{ form.password.errors }}
          </div>
        </div>

      <div class="row">
          <button class="btn waves-effect right" type="submit" name="action">{% trans "Log In" %}
          </button>
      </div>
    </form>
{% endblock %}
