{% extends "base.html" %}
{% load static i18n %}
{% block header %}
    {% include "login_header.html" %}
{% endblock %}

{% block page_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <form class="container" action="" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="row {% if field.name == 'name' %}mielpoto{% endif %}">
          <p class="input-field col s12 offset-m2 m8">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field.errors }}
            {{ field }}
          </p>
        </div>
      {% endfor %}

      <div class="row">
          <button class="btn waves-effect right" type="submit" name="action">
              {% trans "Sign In" %}
          </button>
      </div>
    </form>
{% endblock %}
