{% extends "base.html" %}
{% load static i18n %}
{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block page_title %}{% trans "Profile editing" %}{% endblock %}

{% block content %}
    <h2 class="center">{% trans "Profile" %}</h2>
    <form class="container" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="row">
            {% if field.name == 'avatar' %}
              <div class="file-field input-field col s12 offset-m2 m8">
                  <div class="btn">
                      <span>{{ form.avatar.label }}</span>
                      {{ form.avatar }}
                  </div>
                  <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                  </div>
              </div>
            {% else %}
              <p class="input-field col s12 offset-m2 m8">
                  <label for="{{ field.id_for_label }}"
                       data-error="{{ field.errors|join:' ' }}">
                      {{ field.label }}</label>
                {{ field }}
                <span class="red-text">{{ field.errors|join:' ' }}</span>
              </p>
            {% endif %}
        </div>
      {% endfor %}

      <div class="row">
          <button class="btn waves-effect right" type="submit" name="action">
              {% trans "Update" %}
          </button>
      </div>
    </form>
{% endblock %}
