{% extends "base.html" %}
{% load static i18n %}

{% block page_title %}{% firstof profile.user.get_full_name profile.user.get_username %}{% endblock %}


{% block content %}
    <div id="profile" class="container">
        <div class="row">
            <div class="col s12 offset-m1 m3">
                <h1 class="hide-on-med-and-up center-align">
                    {% firstof profile.user.get_full_name  profile.user.get_username %}
                </h1>
              {% if profile.avatar %}
                  <p>
                    <img src="{{ profile.avatar.url }}" alt="{{ profile.avatar.name }}" class="responsive-img profile-picture" />
                  </p>
              {% else %}
                <p class="center no-picture profile-picture flow-text grey lighten-4">
                    {% if user == profile.user %}
                        {% trans "Add a picture to your profile!" %}
                    {% endif %}
                </p>
              {% endif %}
            </div>
            <div class="col s12 m6">
                <h1 class="hide-on-small-only">
                    {% firstof profile.user.get_full_name profile.user.get_username %}
                </h1>

                <h4>{{ profile.city|default:"—" }}</h4>

                <span class="flow-text">
                    {% blocktrans asvar no_description trimmed %}
                        No description yet
                    {% endblocktrans %}
                    {{ profile.description|default:no_description }}
                </span>

                <p class="grey-text text-lighten-1">
                    {% blocktrans with date=profile.user.date_joined|date:"j F Y" trimmed %}
                        Member since {{ date }}
                    {% endblocktrans %}
                </p>
                
                <p class="flow-text">
                    {% trans "I joined ECOmaps because:" %}
                    {{ profile.why_i_joined }}
                </p>
            </div>
        </div>

        {% if user.is_authenticated and user == profile.user %}
          <div class="row">
              <a href="{% url 'profile_update' user %}"
                 class="btn waves-effect right">
                    {% trans "Edit" %}
              </a>
          </div>
        {% endif %}

        <div id="profile-places" class="row">
            <p class="col s12 flow-text">
                {% trans "Last Entries" %}
            </p>
            {% for place in view.places %}
                <div class="profile-place col s12 m6 l3">
                    {% if place.picture %}
                        <a href="{% url 'detail' place.pk place.slug %}">
                            <p class"center">
                                <img src="{{ place.picture.url }}" alt="{{ place.picture.name }}" class="responsive-img place-picture z-depth-2" />
                            </p>
                        </a>
                    {% else %}
                        <a class="grey-text" href="{% url 'update' place.id place.slug %}#id_picture">
                          <p class="center no-picture flow-text grey lighten-4">
                              {% trans "Add a picture to this place!" %}
                          </p>
                      </a>
                    {% endif %}
                    <p class="center-align">
                        <a href="{% url 'detail' place.pk place.slug %}">
                            {{ place.name }}
                        </a>
                    </p>
                    <p class="center-align">
                        <small>{{ place.tags.all|join:" " }}</small>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
