{% load static i18n %}{% load compress %}<!DOCTYPE html>
<html xml:lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{% block page_title %}{% endblock %} | ECOmaps</title>
  {% if debug or staging %}
    <meta name="robots" content="noindex, nofollow">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="icon" type="image/png" href="{% static "img/favicon-alpha.png" %}" />
  {% compress css %}
      <link type="text/css" rel="stylesheet" href="{% static "Materialize/dist/css/materialize.min.css" %}" media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static "select2/dist/css/select2.min.css" %}" media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static "leaflet/dist/leaflet.css" %}" media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static "leaflet-draw/dist/leaflet.draw.css" %}" media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static "css/material-icons.css" %}" media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static "css/maps.css" %}" media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}" media="screen,projection"/>
  {% endcompress %}
  {% block extra_css %}{% endblock %}
  {% block extra_head %}{% endblock %}
  {% include "analytics.html" %}
</head>

<body class="{% block body_class %}{% endblock %}">
  {% if debug %}<b class="site-state indigo center-align">DEBUG</b>{% endif %}
  {% if staging %}<b class="site-state purple center-align">TEST</b>{% endif %}

  {% block header %}
    {% include "header.html" %}
  {% endblock %}

  <section id="main">
    {% block main %}
      <article id="content" class="">
        {% block content %}You should add some content here! ;-){% endblock %}
      </article>
    {% endblock %}
  </section>

  {% include "footer.html" %}

  {% compress js %}
    <script type="text/javascript" src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "leaflet/dist/leaflet.js" %}"></script>
    <script type="text/javascript" src="{% static "leaflet-draw/dist/leaflet.draw.js" %}"></script>
    <script type="text/javascript" src="{% static "Materialize/dist/js/materialize.js" %}"></script>
    <script type="text/javascript" src="{% static "select2/dist/js/select2.js" %}"></script>
    <script type="text/javascript" src="{% static "urijs/src/URI.min.js" %}"></script>
    <script type="text/javascript" src="{% static "devbridge-autocomplete/dist/jquery.autocomplete.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ui.js" %}"></script>
    <script type="text/javascript" src="{% static "js/maps.js" %}"></script>
    <script type="text/javascript" src="{% static "js/comments.js" %}"></script>
    <script type="text/javascript" src="{% static "js/rating.js" %}"></script>
    <script type="text/javascript" src="{% static "js/csrf.js" %}"></script>
  {% endcompress %}


  {% block extra_js %}{% endblock %}
</body>
</html>
