{% load comments %}
{% load i18n %}

{% get_comment_list for object as comment_list %}

<ul id="comments" class="collection">
    {% if user.is_authenticated %}
        <li class="comment collection-item avatar" id="new-comment">
            {% if user.profile.avatar %}
                <img class="circle" src="{{ user.profile.avatar.url }}" alt="" />
            {% else %}
                <i class="material-icons circle" style="font-size: 2rem">face</i>
            {% endif %}
            <form id="comment-form" action="{% url 'comment' %}" method="post">
                {% csrf_token %}
                <input class="mielpoto" id="id_name" type="text" name="name" value=""
                       placeholder="{% trans "I guess thou shouldn’t fill this" %}">
                <textarea id="id_comment" class="materialize-textarea" name="comment" length="500"
                          placeholder="{% trans "Express yourself!" %}"></textarea>
            <button type="submit" for="comment-form" class="secondary-content btn-floating waves-effect waves-light blue-grey darken-1" href="#">
                <i class="material-icons">send</i>
            </button>
            </form>
        </li>
    {% else %}
        <li class="comment collection-item avatar" id="new-comment">
            <i class="material-icons circle" style="font-size: 2rem">face</i>
            <input type="text" disabled value="{% trans "You need to login to comment" %}">
            <a class="secondary-content btn blue-grey darken-1"
               href="{% url 'login' %}?next={{ request.get_full_path }}#comments">
                {% trans "Log in" %}
            </a>
        </li>
    {% endif %}
    {% for comment in comment_list reversed %}
        {% include "comment.html" %}
    {% endfor %}
</ul>
