{% load humanize %}

<li class="comment collection-item avatar" id="c{{ comment.id }}">
    {% if comment.user.profile.avatar %}
        <img class="circle" src="{{ comment.user.profile.avatar.url }}" alt="" />
    {% else %}
        <i class="material-icons circle" style="font-size: 2rem">face</i>
    {% endif %}
    <div class="title">
        {{ comment.comment|linebreaks }}
    </div>
    <p class="">
        <a href="{% url 'profile' comment.user %}">
            {% firstof comment.user.first_name comment.user.username %}
        </a>
        <span class="sep grey-text">⦁</span>
        <span class="datetime grey-text" title="{{ comment.submit_date|date:"D d M Y" }} {{ comment.submit_date|time:"H:i" }}" style="cursor:help">
            {{ comment.submit_date|naturaltime }}
        </span>
    </p>
</li>
