{% load static i18n %}
    <footer class="row">
        <ul id="partners" class="col offset-m1 m10">
            <li>
                <a href="http://www.iynf.org/" target="_blank">
                    <img id="IYNF" class="partner-logo" src="{% static 'img/partner/IYNF.png' %}" alt="IYNF" />
                </a>
            </li>
            <li>
                <a href="https://europa.eu/eyd2015/" target="_blank">
                    <img id="EYD" class="partner-logo" src="{% static 'img/partner/EYD.png' %}" alt="European year for development" />
                </a>
            </li>
            <li>
                <a href="http://www.concordeurope.org/" target="_blank">
                    <img id="Concord" class="partner-logo" src="{% static 'img/partner/Concord.png' %}" alt="Concord" />
                </a>
            </li>
            <li>
                <a href="https://europa.eu/eyd2015/en/csa" target="_blank">
                    <img id="CSA" class="partner-logo" src="{% static 'img/partner/CSA.png' %}" alt="CSA" />
                </a>
            </li>
        </ul>

        <div class="col offset-m1 m10">
            <div class="row">
              <div class="col s12 m6">
                <ul id="footer-links" class="row">
                    <li class="col s12 l4">
                        <a class="legal" href="{% trans '/about/' %}">{% trans "About" %}</a>
                    </li>
                    <li class="col s12 l4">
                        <a class="legal" href="/terms/">{% trans "Term of service" %}</a>
                    </li>
                    <li class="col s12 l4">
                        <a class="legal" href="/privacy/">{% trans "Privacy policy" %}</a>
                    </li>
                </ul>
              </div>
              <div class="col s12 m6 right-align">
                  <a href="https://facebook.com/green.ecomaps" target="_blank">
                      <img src="{% static "img/Icon_facebook.png" %}" alt="facebook" />
                  </a>
                  {% comment %}
                  <a href="https://instagram.com/explore/tags/ecomap/" target="_blank">
                      <img src="{% static "img/Icon_Instagram.png" %}" alt="Instagram" />
                  </a>
                  <a href="https://twitter.com/search?q=ecomaps%20iynf" target="_blank">
                      <img src="{% static "img/Icon_twitter.png" %}" alt="twitter" />
                  </a>
                  {% endcomment %}
                  <a href="mailto:henrique@iynf.org" target="_blank">
                      <img src="{% static "img/Icon_email.png" %}" alt="email" />
                  </a>
              </div>
            </div>
        </div>
    </footer>
