{% load static i18n %}
  <header>
    <nav id="main-menu">
      <div class="nav-wrapper container">

        <a href="{% url 'home' %}" class="brand-logo">
          <img src="{% static 'img/ecomaps.png' %}"
               alt="Ecomaps"
               title="{% trans "Back to Home" %}" />
        </a>

        <a href="#" data-activates="mobile-menu" class="button-collapse">
          <i class="mdi-navigation-menu"></i>
        </a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
            <li>
                <a href="#" data-activates="user-menu" class='dropdown-button'>
                    {% blocktrans with name=user.username trimmed %}
                        Hello {{ name }}!
                    {% endblocktrans %}
                </a>
            </li>
          {% else %}
            {% include "auth_menu.html" %}
          {% endif %}
        </ul>
        <ul id="mobile-menu" class="side-nav">
          {% include "mobile_menu.html" %}
        </ul>
        <ul id="user-menu" class="dropdown-content">
            {% include "user_menu.html" %}
        </ul>

        {% if city %}
            {% url 'map' city=city as action %}
        {% else %}
            {% url 'map' as action %}
        {% endif %}
        <form class="right search hide-on-med-and-down" method="get"
             action="{{ action }}">
          <div class="input-field col s3">
            <input id="search" type="search" name="q" value="{{ request.GET.q }}" placeholder="Search in {{ view.city.name }}...">
            <label for="search"><i class="material-icons">search</i></label>
          </div>
        </form>
      </div>
    </nav>



    <div id="submenu" class="nav-wrapper">
        <ul class="container">
            {% include "maps/filters.html" %}
            {% include "submenu.html" %}
        </ul>
    </div>
  </header>
