{% extends "base.html" %}
{% load static i18n %}
{% block body_class %}home{% endblock %}

{% block page_title %}{% trans "Home" %}{% endblock %}

{% block header %}
<header>
    <div class="row nav-wrapper">
        <div id="logo" class="col s6 m8 l2 center-align">
            <a href="{% url "home" %}"><img src="{% static "img/ecomaps-medium.png" %}?cache" alt="ECOmaps" /></a>
        </div>

        <div class="col s5 m3 push-l8 l1">{% include "language_switcher.html" %}</div>

        {% if user.is_authenticated %}
            <ul id="user-menu" class="dropdown-content">
                {% include "user_menu.html" %}
            </ul>
            <p id="greetings" class="col s6 m4 l7">
                <a data-activates="user-menu" class='dropdown-button'
                   href="#">{% blocktrans with name=user.username trimmed %}
                    Hello {{ name }}!
                {% endblocktrans %}</a>
            </p>
        {% else %}
            <p class="col s6 m4 offset-l4 l2">
                <a href="{% url 'login' %}">{% trans "Log in" %}</a>
            </p>
            <p class="col s6 m4 l2">
                <a href="{% url 'registration_register' %}">{% trans "Sign up" %}</a>
            </p>
        {% endif %}

  </div>
    <div class="row">
        <h2 class="col s12 center-align">
            {# Translators: Don't translate <br> nor <strong>. #}
            {% trans "Being sustainable in everyday life <br><strong>is easier than you think</strong>" %}
        </h2>
    </div>
    <p class="row center-align">
        {% trans "Discover the most sustainable places in your surroundings" %}
    </p>

    <form action="{% url "map" %}" method="get">
        <div id="categories" class="center-align">
            {% for category in view.categories %}
                <div id="{{ category.slug }}" class="category">
                    <img src="{{ category.icon }}" alt="icon-{{ category.slug }}" /><br>
                    <span>{{ category.name }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="input-field col s12 offset-m2 m8 offset-l1 l4">
                {{ form.q }}
                <label for="{{ form.q.id_for_label }}">{{ form.q.label }}</label>
            </div>
            <div class="input-field col s12 offset-m2 m8 offset-l2 l4">
                <div id="city-autocomplete-url" class="hide">{% url 'city_autocomplete' %}</div>
                {{ form.city }}
                <input id="city-field" type="text" />
                <label for="city-field">{{ form.city.label }}</label>
            </div>
            <div class="hide">
                {{ form.cat }}
            </div>
        </div>
        <div class="row">
            <div class="col offset-s2 s8 offset-m4 m4 offset-l9 l2">
                <button class="col s12 btn-flat btn-light waves-effect waves-light" type="submit">
                    {% trans "Explore" %}
                </button>
            </div>
        </div>

    </form>
    <style media="screen", class="background">
        {# The header background image is dynamically loaded by ui.js #}
        header::before { BACKGROUND-IMAGE }
    </style>
    <p id="background" class="hide">{{ view.background }}</p>
</header>

{% endblock %}

{% block content %}

    <div id="learn" class="row center-align">
        {% if user.is_staff %}
          <p class="center-align">
            <a class="btn-flat btn-light" href={% url 'post_new' %}>
                {% trans "New Post" %}
            </a>
          </p>
        {% endif %}

        <div class="col offset-s1 s10">
            {% for post_type in view.post_types %}
                <a id="post-type-{{ post_type.0 }}"
                   class="col s12 m6 l3 no-outline post-type-selector"
                   href="#">{{ post_type.1 }}</a>
            {% endfor %}

            <select class="col offset-s2 s8 offset-m4 m4 offset-l5 l2 post-type-selector" name="topics">
                <option value="topics">{% trans "Topics" %}</option>
                {% for topic in view.topics %}
                    <option value="{{ topic.slug }}">{{ topic.name }}</option>
                {% endfor %}
            </select>
        </div>

        <ul id="posts-ul" class="col offset-l1 l10" data-url="{% url 'lasts_posts' %}"> </ul>

        <br>

        <a id="more" class="col s12 no-outline caret-down-after" href="#">{% trans "More" %} </a>
        </p>
    </div>

    <div id="join" class="row center-align">
        <h2>{% trans "Be part of it" %}</h2>
        <p>{% trans "Join and add sustainable places" %}</p>
        <div id="volunteers">
            <ul>
                <li>
                    <a href="{% url 'profile' username='PhilippS' %}">
                        <img src="{% static "img/volunteers/philipp.png" %}" alt="Profile picture" />
                    </a>
                    <br>
                    <span class="first-name">
                        Philipp
                    </span><br>
                    <span class="country">
                        {% trans "from Germany" %}
                    </span>
                </li>
                <li>
                    <a href="{% url 'profile' username='wendiertje' %}">
                        <img src="{% static "img/volunteers/wendy.png" %}" alt="Profile picture" />
                    </a>
                    <br>
                    <span class="first-name">
                        Wendy
                    </span><br>
                    <span class="country">
                        {% trans "from Belgium" %}
                    </span>
                </li>
                <li>
                    <a href="{% url 'profile' username='tamara' %}">
                        <img src="{% static "img/volunteers/tamara.png" %}" alt="Profile picture" />
                    </a>
                    <br>
                    <span class="first-name">
                        Tamara
                    </span><br>
                    <span class="country">
                        {% trans "from Serbia" %}
                    </span>
                </li>
                <li>
                    <a href="{% url 'profile' username='nickadriaans' %}">
                        <img src="{% static "img/volunteers/nick.png" %}" alt="Profile picture" />
                        <br>
                    </a>
                    <span class="first-name">
                        Nick
                    </span><br>
                    <span class="country">
                        {% trans "from the Netherlands" %}
                    </span>
                </li>
             </ul>
            <p class="center-align">
                <a class="waves-effect waves-light btn-flat btn-light"
                   href="{% url 'registration_register' %}">
                   {% trans "Join" %}
               </a>
            </p>
        <p class="background hide">{% static "img/netmap.png" %}</p>
        </div>
    </div>
{% endblock content %}
