{% load i18n %}

<form id="language-switcher" action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <div class="input-field">
        <select class="" name="language">
            <option value="" selected disabled>{{ LANGUAGE_CODE|upper }}</option>
            {% for language in LANGUAGES %}
            {% get_language_info for language.0 as lang %}
            <option title="{{ lang.name }}"
                    value="{{ lang.code }}">{{ lang.name_local|capfirst }}</option>
            {% endfor %}
        </select>
    </div>
</form>
