{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% if city %}
        {% blocktrans with city=view.city.name %}Map of {{ city }}{% endblocktrans %}
    {% else %}
        {% trans "Map" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div id="geojson-url" class="hide">{% url 'geojson' city=city %}?{{ request.GET.urlencode }}</div>
        <div id="geojson-bbox-url" class="hide">{% url 'bbox' city=city %}</div>
        <div id="no-place-found" class="hide">{% trans "Sorry, no place found." %}</div>
        <div id="map" class="map"></div>
    </div>
{% endblock content %}
