{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ecomaps - Being sustainable in everyday life is easier than you think!</title>
    <link rel="icon" type="image/png" href="favicon-alpha.png" />
    <style media="screen">
      body {margin:0; background: #F6FBF5; color:#2A4745; font-size:2.5rem;
        font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
      }
      p {margin: 1.5em; text-align:justify}
      a {color:#367E95;}
      .construction {background-color:#367E95; color:white; margin: 6rem 0; text-align: center; font-size: 4.5rem; padding: 2rem 0}
      .construction strong {font-size: 5.4rem}
      .construction a {color:white}
      .container {width:100%;overflow: hidden;}
      img {width:100%}
      @media (max-width: 992px) {
        body {font-size:1.2rem}
        .construction {font-size: 1.3rem}
        .construction strong {font-size: 1.6rem}
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="{% static "img/ecomaps_placeholder_top.jpg" %}" alt="Ecomaps - Being sustainable in everyday life is easier than you think!" />
      <p>
        The ECOmaps is an European web mapping service of the most sustainable, ecological and the healthiest options in a certain location, area or city. It will help travelers and citizens to discover their surrounding from a green and sustainable perspective and incorporate an educational component.
      </p>
      <p>
        The pilot version will feature 20 European cities. Your city can be there! For contributions and involvement please contact <a href="mailto:henrique@iynf.org?subject=ECOmaps">henrique@iynf.org</a>
      </p>
      <p class="construction">
        <strong>Website is being built…</strong> <br>
        Please stay tuned <br>
        at <a href="https://facebook.com/green.ecomaps">facebook.com/green.ecomaps</a>
      </p>
      <img src="{% static "img/ecomaps_placeholder_bottom.jpg" %}" alt="International Young Naturefriends" />
    </div>
  </body>
</html>
