{% load i18n %}
    <li>
        <a href="{% trans '/get-involved/' %}">
            {% trans "Get involved" %}
        </a>
    </li>
    <li>
        {% firstof place.city.id view.city.id  as city %}
        <a href="{% url 'new' %}{% if view.city %}?city={{ city }}{% endif %}">
            {% trans "Add a new place" %}
        </a>
    </li>
    <li>
        <a href="{% trans '/criteria/' %}">{% trans 'Criteria' %}</a>
    </li>
    <li>
        <a href="{% url 'cities' %}">
            {% trans "Cities" %}
        </a>
    </li>
    {% if user.is_staff %}
        <li class="right">
            <a href={% url 'post_new' %}>
                {% trans "New Post" %}
            </a>
        </li>
    {% endif %}
