{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% if city %}
        {{ city.name }}
    {% else %}
        {% trans "New city" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h2 class="center-align">
        {% if city %}
            {{ city.name }}
        {% else %}
            {% trans "New city" %}
        {% endif %}
    </h2>


    <form class="container" action="" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

        <div class="row">
          <p class="input-field">
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {{ form.name.errors }}
            {{ form.name }}
          </p>
        </div>

        <div class="row">
          <p class="input-field">
            {{ form.country.errors }}
            {{ form.country }}
          </p>
        </div>

      <div class="row">
          {% if city %}
            <a href="{% url 'map' city.id %}" class="btn waves-effect left">
                {% trans "View on map" %}
            </a>
        {% endif %}

          <button class="btn waves-effect right" type="submit" name="action">
              {% if city %}
                {% trans "Update" %}
              {% else %}
                {% trans "Create" %}
              {% endif %}
          </button>
      </div>
    </form>
{% endblock content %}
