{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Cities" %}{% endblock %}

{% block content %}
    <div class="container">

        <h2 class="center-align">{% trans "Cities" %}</h2>

        <div class="row">
            <a href="{% url 'city_new' %}"
               class="btn waves-effect blue-grey darken-3">
               {% trans "Add a new city" %}
            </a>
        </div>

        {% regroup city_list by country as country_list %}
        {% for country in country_list %}
            <ul class="collection with-header row">
                <li class="collection-header"><h5>{{ country.grouper.name }}</h5></li>
                {% for city in country.list %}
                    <li class="collection-item">
                        <a href="{% url 'map' city.id %}">
                            {{ city.name }}
                        </a>
                        <span class="grey-text">{{ city.places.count }}</span>
                        <span class="secondary-content" title="{% trans "Edit" %}"><a href="{% url 'city' city.id %}"><i class="material-icons">edit</i></a></span>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}

        <div class="row">
            <a href="{% url 'city_new' %}"
               class="btn waves-effect blue-grey darken-3">
               {% trans "Add a new city" %}
            </a>
        </div>
    </div>
{% endblock content %}
