{% load i18n %}
{% if view.template_name == 'map.html' %}
    <li id="filters" class="right">
        <a id="filters-toggle" href="#" class="caret-down-after active">
            {% trans "Filters" %}
        </a>

        <ul id='filters-dropdown' class=''>
            {% for category in view.categories %}
              <li class="category{% if category.slug in request.GET.urlencode %} active{% endif %}">
                  <a href="#" id="{{ category.slug }}" class="category-link">
                      <img src="{{ category.icon }}" alt="icon-{{ category.slug }}" class="category-icon" />
                      <span class="category-name">
                          {{ category.name|upper }}
                      </span>
                  </a>
                  <ul class="subcategory-list">
                      {% for subcategory in category.subcategories %}
                          <li class="subcategory{% if subcategory.slug in request.GET.urlencode %} active{% endif %}">
                              <a href="#" id="{{ subcategory.slug }}" class="subcategory-link">
                                  <span class="subcategory-name">
                                      {{ subcategory.name }}
                                  </span>
                              </a>
                          </li>
                      {% endfor %}
                  </ul>
              </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
