{% extends "base.html" %}
{% load static i18n %}

{% block page_title %}{{ place.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="center-align">{{ place.name }}</h2>

      <div class="row">
        <div class="col s12 l6">
          {% if place.picture %}
            <img src="{{ place.picture.url }}" alt="{{ place.picture.name }}" class="responsive-img place-picture z-depth-2" />
          {% else %}
            <a class="grey-text" href="{% url 'update' place.id place.slug %}#id_picture">
                <p class="center no-picture flow-text grey lighten-4">
                    {% trans "Add a picture to this place!" %}
                </p>
            </a>
          {% endif %}
        </div>

        {% autoescape off %}
            <div class="col s12 l6 flow-text">
                {{ place.description|linebreaks }}
            </div>
        {% endautoescape %}

      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card deep-orange darken-4">
            <div class="card-content white-text">
              <div class="chip right help" title="{{ place.get_price_display }}">
                  <span id="price">{{ place.price_symbol }}</span>
              </div>
              <span class="card-title">{% blocktrans with category=place.get_category_display city=place.city.name trimmed %}
                  {{ category }} in {{ city }}
              {% endblocktrans %}</span>

              {% include "maps/rating.html" with stars=view.stars %}

              <h5>{% trans "Why we love it?" %}</h5>
              <p id="weloveit">{{ place.weloveit }}</p>
            </div>
            <div class="card-action">
                {% for tag in place.tags.all %}
                    <div class="chip">
                        {{ tag }}
                    </div>
                {% endfor %}
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card blue-grey darken-3">
            <div class="card-content white-text">
              <span class="card-title">{% trans "Contact" %}</span>
              <p class="right">{{ place.phone }}</p>
              <p>{{ place.address }}</p>
              <p>{{ place.locality }}</p>
              <p>{{ place.city.country }} – {{ place.postcode }}</p>
            </div>
            <div class="card-action">
                {% if place.email %}
                    <a href="mailto:{{ place.email }}">Email</a>
                {% endif %}
                {% if place.twitter %}
                    <a href="{{ place.twitter }}">Twitter</a>
                {% endif %}
                {% if place.website %}
                    <a href="{{ place.website }}">Website</a>
                {% endif %}
                {% if place.facebook %}
                    <a href="{{ place.facebook }}">facebook</a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div id="geojson-url" class="hide">{% url 'geojson' pk=place.pk %}</div>
      <div id="map" class="row mini map"> </div>

      {% include "comments.html" %}

      <div class="row">
          <a href="{% url 'map' city=place.city.id %}"
             class="btn waves-effect left blue-grey darken-3">
             {% blocktrans with city=place.city.name trimmed %}
                 Back to {{ city }} map
             {% endblocktrans %}
          </a>

          {% if user.is_authenticated %}
            <a href="{% url 'update' place.id place.slug %}"
               class="btn waves-effect right blue-grey darken-3">
                  {% trans "Edit" %}
            </a>
          {% endif %}
      </div>
    </div>
{% endblock content %}
