{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% if place %}
        {{ place.name }}
    {% else %}
        {% trans "New place" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h2 class="center-align">
        {% if place %}
            {{ place.name }}
        {% else %}
            {% trans "New place" %}
        {% endif %}
    </h2>

    <form class="container" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}

        <div class="row">
            <p class="input-field col s12 m9">
                {{ form.name }}
                <label for="{{ form.name.id_for_label }}"
                     data-error="{{ form.name.errors|join:' ' }}">
                  {{ form.name.label }}
              </label>
            </p>

            <p class="input-field col s12 m3">
                {{ form.price }}
                <label for="{{ form.price.id_for_label }}"
                       data-error="{{ form.price.errors|join:' ' }}">
                    {{ form.price.label }}
                </label>
            </p>
        </div>

        <div class="row {% if form.city.value %}hide{% endif %}">
          <p class="input-field col s12">
              {{ form.city }}
            <label for="{{ form.city.id_for_label }}"
                   data-error="{{ form.city.errors|join:' ' }}">
                {{ form.city.label }}
            </label>
          </p>
        </div>
        <div class="row">
          <p class="input-field col s12 m6">
              {{ form.tags }}
              <label class="active" for="{{ form.tags.id_for_label }}"
                     data-error="{{ form.tags.errors|join:' ' }}">
                  {{ form.tags.label }}
              </label>
          </p>

          <p class="input-field col s12 offset-m1 m5">
              {{ form.category }}
              <label class="active" for="{{ form.category.id_for_label }}"
                     data-error="{{ form.category.errors|join:' ' }}">
                  {{ form.category.label }}
              </label>
              {{ form.category.errors|join:' ' }}
          </p>
      </div>

        <div class="row">
          <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              {{ form.description }}
            <label for="{{ form.description.id_for_label }}"
                   data-error="{{ form.description.errors|join:' ' }}">
                {{ form.description.label }}
            </label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
              <i class="material-icons prefix">favorite</i>
              {{ form.weloveit }}
            <label for="{{ form.weloveit.id_for_label }}"
                   data-error="{{ form.weloveit.errors|join:' ' }}">
                {{ form.weloveit.label }}
            </label>
          </div>
        </div>

        <div class="row">
          <p class="input-field col s12">
              <i class="material-icons prefix">public</i>
              {{ form.website }}
            <label for="{{ form.website.id_for_label }}"
                   data-error="{{ form.website.errors|join:' ' }}">
                {{ form.website.label }}
            </label>
          </p>
        </div>

        <div class="row">
          <p class="input-field col s12 m6">
              <i class="material-icons prefix">thumb_up</i>
              {{ form.facebook }}
            <label for="{{ form.facebook.id_for_label }}"
                   data-error="{{ form.facebook.errors|join:' ' }}">
                {{ form.facebook.label }}
            </label>
          </p>

          <p class="input-field col s12 m6">
              <i class="material-icons prefix">sms</i>
              {{ form.twitter }}
            <label for="{{ form.twitter.id_for_label }}"
                   data-error="{{ form.twitter.errors|join:' ' }}">
                {{ form.twitter.label }}
            </label>
          </p>
        </div>

        <div class="row">
          <p class="input-field col s12 m6">
              <i class="material-icons prefix">email</i>
              {{ form.email }}
            <label for="{{ form.email.id_for_label }}"
                   data-error="{{ form.email.errors|join:' ' }}">
                {{ form.email.label }}
            </label>
          </p>
          <p class="input-field col s12 m6">
              <i class="material-icons prefix">phone</i>
              {{ form.phone_number }}
            <label for="{{ form.phone_number.id_for_label }}"
                   data-error="{{ form.phone_number.errors|join:' ' }}">
                {{ form.phone_number.label }}
            </label>
          </p>
        </div>

        <div class="row">
            <div class="file-field input-field col s12">
              <div class="btn">
                  <span>{% trans "Picture" %}</span>
                  {{ form.picture }}
              </div>
              <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
              </div>
            </div>
        </div>

        <div class="row">
            <button id="fillit" class="btn waves-effect waves-light blue-grey darken-3" type="button" name="button">
                {% trans "Fill it for me!" %}
            </button>
            <i class="mdi-spin material-icons"></i>

            <div id="spinner" class="preloader-wrapper small">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>

        </div>

        <div id="results" class="row"> </div>


        <div class="row">
          <p class="input-field col s12">
              <i class="material-icons prefix">directions</i>
              {{ form.address }}
            <label for="{{ form.address.id_for_label }}"
                   data-error="{{ form.address.errors|join:' ' }}">
                {{ form.address.label }}
            </label>
          </p>
        </div>

        <div class="row">
          <p class="input-field col s12 m3">
              <i class="material-icons prefix">location_city</i>
              {{ form.postcode }}
            <label for="{{ form.postcode.id_for_label }}"
                   data-error="{{ form.postcode.errors|join:' ' }}">
                {{ form.postcode.label }}
            </label>
          </p>

          <p class="input-field col s12 m9">
              {{ form.locality }}
            <label for="{{ form.locality.id_for_label }}"
                   data-error="{{ form.locality.errors|join:' ' }}">
                {{ form.locality.label }}
            </label>
          </p>
        </div>



        {% firstof place.city.id request.GET.city as city %}
        <div id="bbox-url" class="hide">
            {% if city %}{% url 'bbox' city=city %}{% endif %}
        </div>
        <div id="edit-map" class="row mini map"> </div>

      <div class="row">
        <p class="input-field col s12 m6">
            {{ form.lat }}
          <label for="{{ form.lat.id_for_label }}"
                 data-error="{{ form.lat.errors|join:' ' }}">
              {{ form.lat.label }}
          </label>
        </p>

      <p class="input-field col s12 m6">
          {{ form.lng }}
        <label for="{{ form.lng.id_for_label }}"
               data-error="{{ form.lng.errors|join:' ' }}">
            {{ form.lng.label }}
        </label>
      </p>
    </div>

      <div class="row">
          <button class="btn waves-effect right blue-grey darken-3" type="submit" name="action">
              {% if place %}
                {% trans "Update" %}
              {% else %}
                {% trans "Add this place!" %}
              {% endif %}
          </button>
      </div>
    </form>
{% endblock content %}
