<div class="picture">
    {% if place.picture %}
        <img class="popup-place-picture" src="{{ place.picture.url }}" alt="" />
    {% endif %}
</div>
<div class="container">
    <h5>
        <a class="grey-text text-darken-4" href="{% url 'detail' pk=place.pk slug=place.slug %}">
            {{ place.name }}
        </a>
    </h5>
    
    <h6>{{ place.get_category_display }}</h6>
    
    <p>
        {% include "maps/rating.html" with place=place stars=place.star_list %}
    </p>
    
    <p>
        {{ place.description|truncatewords:30 }}
            <br>
        <span class="grey-text">
            <b style="float:right;cursor:help" title="{{ place.get_price_display}}">
                {{ place.price_symbol }}
            </b>
            <em>{{ place.tags.all|join:", " }}</em>
        </span>
    </p>
</div>
