{% load static i18n %}
<span class="rating-label">{% trans "Rate this place:" %}</span>
{% for star in stars %}
    <a href="#" class="rating-star" data-rating="{{ forloop.counter }}" title="{{ forloop.counter }}">
        {% if star == 'full' %}
            <img src="{% static "img/rating/star.png" %}" alt="{{ forloop.counter }} ({% trans "full star" %})" />
        {% endif %}
        {% if star == 'half' %}
            <img src="{% static "img/rating/halfstar.png" %}" alt="{{ forloop.counter }} ({% trans "half star" %})" />
        {% endif %}
        {% if star == 'empty' %}
            <img src="{% static "img/rating/nostar.png" %}" alt="{{ forloop.counter }} ({% trans "no star" %})" />
        {% endif %}
    </a>
{% endfor %}
