{% load static i18n %}
<form id="rating-form" class="" action="{% url 'rating' %}" method="post">
    <input type="hidden" id="id_place" name="place" value="{{ place.pk }}">
    <aside id="stars" class="">
        {% include "maps/rating_detail.html" %}
    </aside>
</form>
