{% extends "base.html" %}
{% load static i18n %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="center-align">{{ post.title }}</h2>
        <h4 class="center-align">{{ post.subtitle }}</h4>

        {% if user.is_staff %}
          <div class="row right-align">
            <a href="{% url 'post_update' post.slug %}"
            class="btn waves-effect blue-grey darken-3">
            {% trans "Edit" %}
            </a>
          </div>
        {% endif %}

        <div class="row">
          {% if post.post_type == post.INFOGRAPHIC %}
              {% if post.infographic %}
                <p class="col s12 offset-m2 m8">
                  <img class="materialboxed" width="100%"
                      src="{{ post.infographic.url }}"
                      data-caption="{{ post.caption }}"
                      alt="{{ post.caption }}" />
                  <caption>{{ post.caption }}</caption>
                </p>
              {% endif %}
          {% endif %}

          {% if post.post_type == post.VIDEO %}
              {% if post.youtube_id %}
                  <p class="col s12 offset-m2 m8">
                      <iframe class="materialboxed active" src="{{ post.youtube_embed }}"
                        width="586" height="440" style="margin: 0 auto"
                        frameborder="0" allowfullscreen></iframe>
                  </p>
                  <p class="center-align col s12 offset-m2 m8">
                      <caption>
                          {{ post.caption }}
                      </caption>
                  </p>
              {% endif %}
          {% endif %}

          {% if post.post_type in post.ARTICLE_OR_EVENT %}
            <div class="row">
                {% if post.picture %}
                    <p class="col s12 offset-m2 m8 center-align">
                      <img class="materialboxed" width="100%"
                          src="{{ post.picture.url }}"
                          data-caption="{{ post.caption }}"
                          alt="{{ post.caption }}" />
                    </p>
                {% endif %}
            </div>
            <h3>{{ post.abstract }}</h3>
            <div id="article-body" class="flow-text">
                {{ post.body|safe }}
            </div>
          {% endif %}

          {% for topic in post.topics.all %}
              <div class="chip">
                  {{ topic.name }}
              </div>
          {% endfor %}

        </div>
      {% include "comments.html" %}
    </div>
{% endblock content %}
