{% load static %}<li style="background-image: url('{{ post.preview.url }}'); order: -{{ post.id}}">
    <a href="{{ post.get_absolute_url }}">
        <div class="mask">
            <h4>{{ post.title }}</h4>
            <h6>{{ post.subtitle}}</h6>
        </div>
    </a>
</li>
