{% extends "base.html" %}
{% load i18n %}

{% block extra_js %}{{ form.media }}{% endblock %}

{% block page_title %}
    {% if post %}
        {{ post.title }}
    {% else %}
        {% trans "New post" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h2 class="center-align">
        {% if post %}
            {{ post.title }}
        {% else %}
            {% trans "New post" %}
        {% endif %}
    </h2>


    <form class="container" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="row">
            <div class="input-field col offset-s2 s8 offset-m4 m4">
                {{ form.post_type }}
              <label for="{{ form.post_type.id_for_label }}"
                     data-error="{{ form.post_type.errors|join:' ' }}">
                  {{ form.post_type.label }}
              </label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 offset-m2 m8">
                {{ form.topics }}
              <label for="{{ form.topics.id_for_label }}"
                     data-error="{{ form.topics.errors|join:' ' }}">
                  {{ form.topics.label }}
              </label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 offset-m2 m8">
                {{ form.title }}
              <label for="{{ form.title.id_for_label }}"
                     data-error="{{ form.title.errors|join:' ' }}">
                  {{ form.title.label }}
              </label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                {{ form.subtitle }}
              <label for="{{ form.subtitle.id_for_label }}"
                     data-error="{{ form.subtitle.errors|join:' ' }}">
                  {{ form.subtitle.label }}
              </label>
            </div>
        </div>

        <div class="row">
          <div class="file-field input-field col s12">
              <div class="btn">
                  <span>{{ form.preview.label }}</span>
                  {{ form.preview }}
              </div>
              <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
              </div>
          </div>
        </div>

        <hr>

        <div class="row post-type infographic">
          <div class="file-field input-field col s12">
              <div class="btn">
                  <span>{{ form.infographic.label }}</span>
                  {{ form.infographic }}
              </div>
              <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
              </div>
          </div>
        </div>

        <div class="row post-type video infographic">
            <div class="input-field col s12">
                {{ form.caption }}
              <label for="{{ form.caption.id_for_label }}"
                     data-error="{{ form.caption.errors|join:' ' }}">
                  {{ form.caption.label }}
              </label>
            </div>
        </div>

        <div class="row post-type article event">
          <div class="file-field input-field col s12">
              <div class="btn">
                  <span>{{ form.picture.label }}</span>
                  {{ form.picture }}
              </div>
              <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
              </div>
          </div>
        </div>

        <div class="row post-type video">
            <div class="input-field col s12">
                {{ form.url }}
              <label for="{{ form.url.id_for_label }}"
                     data-error="{{ form.url.errors|join:' ' }}">
                  {{ form.url.label }}
              </label>
            </div>
        </div>

        <div class="row post-type article event">
            <div class="input-field col s12">
                {{ form.abstract }}
              <label for="{{ form.abstract.id_for_label }}"
                     data-error="{{ form.abstract.errors|join:' ' }}">
                  {{ form.abstract.label }}
              </label>
            </div>
        </div>

        <div class="row post-type article event">
            {{ form.body.errors }}
            {{ form.body }}
        </div>

      <div class="row">
              <button class="btn waves-effect right-align blue-grey darken-3" type="submit" name="action">
                  {% if post %}
                    {% trans "Update" %}
                  {% else %}
                    {% trans "Publish" %}
                  {% endif %}
              </button>
          </div>
      </div>
    </form>
{% endblock content %}
