{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{{ flatpage.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row center-align">
            <h2>{{ flatpage.title }}</h2>
        </div>
        <div class="row flow-text">
            {{ flatpage.content }}
        </div>
    </div>
{% endblock content %}
