@font-face {
    font-family: "Amatic SC";
    src: url('../font/AmaticSC-Regular.ttf');
}
body.home {
    background-color: rgb(39, 54, 53);
    color: white;
}
body.home header {
    position: relative;
    z-index: 0;
    padding-bottom: 10em;
}
body.home header::before,
body.home header::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0; left: 0; bottom: 0; right: 0;
}
body.home header::before {
    background-size: cover;
    filter: alpha(opacity=40);
    opacity: 0.4;
}
body.home header::after {
    background-size: cover;
    background-image:
        linear-gradient(to bottom right,
                        rgba(255, 255, 255, .6),
                        rgba(255, 255, 255, 0) 30%),
        linear-gradient(to top,
                        rgba(39, 54, 53, 1),
                        rgba(39, 54, 53, 0) 25%);
}
body.home p { font-size: 1.3em; }

html {
    font-size: 14px;
    background: rgb(25, 34, 33);
}
body {
    background: white;
}

.site-state{
    display: block;
    opacity: .5;
}

.nav-wrapper {
    text-transform: uppercase;
    padding-top: 1rem;
}


@media (min-width: 992px) {
    #language-switcher { margin-left: 50%; }
    #greetings         { text-align: right; }
}
#language-switcher .caret {
    display: none;
}

header h2 strong {
    font-size: 1.2em;
}
h2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 3rem;
}
a, .btn a { color: white; }
article a { color: cadetblue; }

.no-outline:focus {
    outline: none;
}

.btn-light {
    color: white;
    border: 1px solid white;
}

#content {
    min-height: 40em;
}
#main-menu {
    background-color: rgb(228, 228, 228);
    height: 123px;
}
#main-menu a {
    font-size: 1.2em;
    color: #192221;
}
.brand-logo img {
    height: 94px;
}
form.search,
#nav-mobile {
    margin-top: 1.7rem;
}
#submenu {
    height: 55px;
    background: rgb(39, 54, 53);
}
#submenu > ul > li {
    display: inline-block;
    margin-left: 2em;
    text-transform: none;
}
#submenu > ul > li > a {
    padding: 0.4em 0.8em;
    border-radius: 8px;
}
#submenu > ul > li > a.active,
#submenu > ul > li > a:active,
#submenu > ul > li > a:focus,
#submenu > ul > li > a:hover {
    background-color: rgba(0, 0, 0, .5);
}


#filters { position: relative; }
#filters-toggle:focus,
.category-link:focus {
    outline: none;
}
#filters-dropdown {
    border-radius: 8px;
    background: rgb(39, 54, 53);
    white-space: nowrap;
    z-index: 999;
    position: absolute;
    top: 40px;
    right: 0;
    opacity: .95;
    transition: opacity .4s ease;
}
#filters-dropdown:hover {
    opacity: 1;
}
#filters-dropdown a {
    display: block;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
}
#filters-dropdown .category-name,
#filters-dropdown .category-icon {
    vertical-align: middle;
}
#filters-dropdown a img.category-icon {
    opacity: .6;
    width: 40px;
    margin: 0.6rem;
    margin-left: 1.2rem;
}
#filters-dropdown .category-name {
    margin-right: 1.2rem;
}
#filters-dropdown .subcategory-list > li:hover,
#filters-dropdown .subcategory-list > li:active {
    background-color: rgba(255, 255, 255, 0.1);
}
#filters-dropdown .subcategory-list > li.active,
#filters-dropdown .subcategory-list > li.selected {
    background-color: rgba(255, 255, 255, 0.3);
}

#filters-dropdown .subcategory-link {
    padding: 0 1.5em;
}


#categories .category {
    display: inline-block;
    width: 10em;
    margin-bottom: 1em;
}
#categories .category img {
    opacity: .5;
    transition: .7s;
}
#categories .category.selected img,
#categories .category:hover img,
#categories .category:focus img,
#categories .category:active img {
    opacity: .9;
    transform: translateY(8px);
}
#categories .category span {
    opacity: 0;
    transition: .5s;
    position: relative;
}
#categories .category.selected span,
#categories .category:hover span,
#categories .category:focus span,
#categories .category:active span {
    opacity: .9;
}
#categories .category.selected {
    font-weight: bold;
}

.input-field label { width: 100%; }
.input-field label::after {
    font-size: 0.8rem;
    transform: translateY(-140%);
}
.input-field label.active::after {
    content: "" !important;
    /*transform: none;*/
}

.home .input-field input[type="text"] {
    border: 1px solid white;
    border-radius: 4px;
    font-size: 1.2rem;
    padding-top: 3px;
    padding-left: 14px;
    width: 96%;
}
.home .input-field label {
    top: 1rem;
    left: 27px;
    max-width: 270px;
    color: white;
}
.home .input-field label.active {
    top: 5px;
}
.home .input-field input + label.active {
    color: white;
    opacity: .7;
}

.select-wrapper span.caret {
    right: 5%;
    z-index: 1;
}

#learn {
    margin: 7rem 0;
}
#learn #posts-ul {
    text-align: center;
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#learn  #posts-ul li {
    background-size: cover;
    background-position: center 50%;
    margin: 8px;
}
#learn  #posts-ul li .mask {
    height: 250px;
    width: 300px;
    background: rgba(0, 0, 0, 0);
    transition: .5s;
    padding-top: 70px;
}
@media (max-width: 600px) {
    #learn  #posts-ul li .mask {
        height: 200px;
        width: 240px;
    }
}
#learn  #posts-ul li .mask:hover {
    background: rgba(0, 0, 0, 0.6);
}
#learn  #posts-ul li .mask h6 {
    margin: 0;
    font-size: 1.2em;
}
#learn  #posts-ul li a {
    color: rgba(0, 0, 0, 0);
}
#learn  #posts-ul li a:hover {
    color: white;
}
#learn .post-type-selector {
    color: white;
    font-size: 2em;
}
#learn .post-type-selector.selected {
    text-decoration: underline;
    font-weight: bold;
}
#learn .select-wrapper {
    /* Topics */
    /*width: 8rem;
    display: inline-block;*/
}
#learn .select-wrapper input {
    font-size: 2rem;
    border-bottom: none;

}
#learn .select-wrapper span.caret {
    color: white;
    font-size: 1rem;
    /*left: 7em;*/
    right: 0;
    top: 0.8rem;
}


.caret-down-after::after {
    /* Black Down-Pointing Small Triangle */
    content: "\25BE";
}
.active.caret-down-after::after {
    /* Black Up-Pointing Small Triangle */
    content: "\25B4";
}

.help {
    cursor: help;
}
.card .card-action a {
    color: rgb(228, 228, 228);
}

#volunteers {
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center; /* IE fix */
    margin-bottom: 4rem;
}
#volunteers ul {
    padding: 10% 0;
}
#volunteers li {
    display: inline-block;
}
#volunteers img {
    width: 80%;
    border-radius: 175px;
    border: 3px solid white;
}
#volunteers .first-name {
    font-size: 1.2em;
}

footer {
    min-height: 100px;
    background: rgb(25, 34, 33);
    padding-bottom: 20px;
}
#footer-links li {
    display: inline-block;
    padding-right: 3rem;
}
#partners {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#partners li {
    margin: 3em 0;
}

.no-picture {
    padding: 3em 0;
}

#profile {
    padding-top: 1em;
    background-image:
        linear-gradient(to bottom,
                        rgba(39, 54, 53, 1) 7rem,
                        rgba(39, 54, 53, 0) 7rem);
}
#profile h1 {
    color: white;
    font-family: "Amatic SC";
    font-weight: bold;
    font-size: 3rem;
}
#profile h4 {
    font-family: "Amatic SC";
}
#profile .profile-picture {
    border: 6px solid white;
}
#profile-places {
    margin-bottom: 0;
    padding: 0 10%;
    min-height: 200px;
    background: #273635;
    color: white;
}


a.legal {
    line-height: 3em;
}

#search { background-color: white; }
nav label[for="search"] i { color: gray; }

#results a:first-of-type {
    font-weight: bold;
}

#comments .collection-item.avatar { min-height: 62px; }
#comments .materialize-textarea { padding: 0; margin: 0; width: calc(100% - 50px); }
#comments .character-counter {
    float: none !important;
    position: relative;
    color: gray;
}
@media (min-width: 600px) {
    #comments .character-counter { right: 4em; }
    #comments input { width: calc(100% - 200px); }
}
@media (max-width: 600px) {
    #comments .collection-item.avatar { padding: 1em; }
    #comments .materialize-textarea { width: 100%; }
    #comments .circle { position: relative; }
}

.chip { margin: 2px 1px; }
button:focus { opacity: .6 }
.mielpoto { position: absolute; bottom: 9999px; }

/* Autocomplete */

.autocomplete-suggestions {
    border: 1px solid #999; background: #fff; cursor: default; overflow: auto;
    margin-top: -3px;
}
.autocomplete-suggestion {
    padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden;
    color: rgba(39, 54, 53, .6);
}
.autocomplete-selected {
    background: #eee;
}
.autocomplete-suggestions strong {
    font-weight: normal; color: rgba(39, 54, 53, 1);
}


/* Leaflet */

.leaflet-popup-tip,
.leaflet-popup-content-wrapper { background: #E4E4E4; }
.leaflet-popup-close-button { display: none; }
.leaflet-popup-content { margin: 4px; }
.leaflet-popup-content .container { width: 90%;}
.leaflet-popup-content h5 { font-size: 1.6em; }

.leaflet-popup-content .picture {
    overflow: hidden;
    max-height: 225px;
    border-radius: 8px 8px 0 0;
    transition: max-height 1s;
}
.leaflet-popup-content .picture:hover { max-height: inherit; }
.leaflet-popup-content .picture img {
    width: 100%;
}


/* Select2 */

.select2-container {
    display: block;
    margin-top: .8rem;
}
body.home .select2-container { margin: 0; }

.select2-container--focus .select2-selection.select2-selection--multiple,
.select2-selection.select2-selection--multiple {
    border: none;
    border-bottom: 1px solid #9E9E9E;
    border-radius: 0px;
}
body.home .select2-container .select2-selection--single {
    border: 1px solid white;
    border-radius: 4px;
    height: 47px;
    background: transparent;
}
body.home .select2-container--default .select2-selection__rendered {
    padding-left: 1em;
    top: 10px;
    color: #999 !important;
}
body.home .select2-container--default .select2-selection__arrow { top: 10px; right: 10px; }

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"] {
    background: #eee;
    color: #26A69A;
}
.select2-container--default .select2-results__option {
    line-height: 2em;
    padding-left: 1em;
}
.select2-dropdown {
    border: none;
    border-radius: 0px;
    color: #26A69A;
    font-size: 1.2rem;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    top: -12px;
}
.select2-container--default .select2-results > .select2-results__options {
	max-height: 22em;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: none;
    border-radius: 16px;
    background: #E4E4E4;
    padding: .4em .8em;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 0px;
    margin-left: 4px;
    float: right;
}
.select2-selection--multiple input[type="search"].select2-search__field {
    padding-left: 0px;
    margin: 0px 10px !important;
    min-width: 2em;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    margin-bottom: -5px;
}
.select2-container .select2-selection--single {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #9E9E9E;
    height: 3rem;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    color: black !important;
    position: relative;
    top: 5px;
}
